
$colorPrincipal: white;
$colorSecundario: black;


/**MAPS**/ 
$tamanios:(
    alto1: 50%,
    alto2:20hv,
    alto3: 18hv,


    ancho1: 100%,
    ancho2:65px,
);

/**Extends**/
%flexRow{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/**Mixin**/
@mixin flexbox($direction, $justify,$wrap,$padding){
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    padding: 3%;

    

}
@mixin order($text-align,$font-size,$text-decoration){
    text-align: center;
    font-size: 25px;
    text-decoration:underline;

}  