 .mainContent {
        margin: 5%;
    } 
 .alert-primary{
     text-align: center;
 }
 .image{
     margin-left: 25%;
 }
 .formulario{
     text-align:center;
     background:#6014a7;
     padding: 15px 10px;
     border:20px;
     width: 40%;
     height:45%;
     box-shadow: 0px 0px 10px 6px ;
     margin-top: -8%;
     margin-left: 50px;
    position:sticky;  
   
    .tCont{
      margin: 10px 0;
      font-weight: 800;
      color: $colorPrincipal;
    } 
    
    .form{
        padding: 5px;
    }
    .space{
        padding: 10px;
        color: $colorPrincipal;
        text-align: center;
    }

 }

 input, textarea{
     background:none;
     color: rgba(255, 255, 255, 0.758);
     font-size:18px;
    padding:10px 10px 10px 5px;


}  
