 .mainContent {
        margin: 5%;
    } 
 .alert-primary{
     text-align: center;
 }
 .image{
     margin-left: 25%;
     margin-top: 1%;
 }
 .formulario{
     text-align:center;
     background:#6014a7;
     padding: 15px 10px;
     border:20px;
     width: 40%;
     height:45%;
     box-shadow: 0px 0px 10px 6px ;
     margin-top: -8%;
     margin-left: 50px;
    position:sticky;  
   
    .tCont{
      margin: 10px 0;
      font-weight: 800;
      color: $colorPrincipal;
    } 
    
    .form{
        padding: 5px;
    }
    .space{
        padding: 10px;
        color: $colorPrincipal;
        text-align: center;
    }

 }

 input, textarea{
     background:none;
     color: rgba(255, 255, 255, 0.758);
     font-size:18px;
    padding:10px 10px 10px 5px;


}  
.formulario1{
    text-align:center;
    background:#6014a7;
    padding: 15px 10px;
    border:20px;
    width: 40%;
    height:45%;
    box-shadow: 0px 0px 10px 6px ;
    margin-top: -50%;
    margin-left: 55%;
   position:sticky;  
  
   .tCont{
     margin: 10px 0;
     font-weight: 800;
     color: $colorPrincipal;
   } 
   
   .form{
       padding: 5px;
   }
   .space{
       padding: 10px;
       color: $colorPrincipal;
       text-align: center;
   }

}

.cajitas{
    width: 100%;
    background:rgb(233, 18, 169);
    display: flex;
 

    .caja{
        margin: 1%;
        width:350px;
        height: 250px;
        border:solid  2px white;
        text-align: center;

    }
    .profes{
        width: 200px;
    }
   
}
.alert-primary{
    margin-top: 2%;
}
.alert-primary1{
    margin-top: 20%;
    width: 100%;
    background:rgb(233, 18, 169);
    display: flex;
}